<section id="one_of_us" class="one-of-us section">
  <div class="one-of-us__top">
    <div class="one-of-us__title">
      <div class="green-triangle"></div>
      <div class="orange-triangle"></div>
      <h1 class="headline">{{title}}</h1>
    </div>
    <div class="one-of-us__body">
      <p>
        <span>{{headline}}</span>
        <span>{{first_section}}</span>
        <a href="#family">Alphadevare</a>
        <span>{{second_section}}</span>
        <a href="https://alphadev.se" target="_blank">alphadev.se</a>
        <span>{{third_section}}</span>
      </p>
    </div>
  </div>
  <div class="one-of-us__bottom">
    <a href="#join_us">
      <span class="orange-btn">{{button}}</span>
    </a>
  </div>
</section>
